:root {
    --teslaRed: #cc0000;
    --teslaBlack: #000;
    --teslaDarkGrey: #141414;
    --teslaWhite: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif !important;
    background: var(--teslaDarkGrey) !important;
    color: var(--teslaWhite) !important;
    font-size: 1.5rem !important;
}

.text-title {
    font-family: "Lato", sans-serif;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.text-red {
    color: var(--teslaRed);
}

.tesla {
    width: 5rem;
}
