:root {
    --teslaRed: #cc0000;
    --teslaBlack: #000;
    --teslaDarkGrey: #141414;
    --teslaWhite: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", sans-serif !important;
    background: var(--teslaDarkGrey) !important;
    color: var(--teslaWhite) !important;
    font-size: 1.5rem !important;
}

a {
    text-decoration: none;
    color: #fff;
}

.text-title {
    font-family: "Lato", sans-serif;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.text-red {
    color: var(--teslaRed);
}

.tesla {
    width: 5rem;
}

.main-tesla {
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.438)),
        url(../src/img/hero.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
}

.products {
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.438)),
        url(../src/img/background.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}
